<h3> Dash! </h3> 
<my-app-home></my-app-home>
<div class="row"> 
    <span class="col-md-2"></span>
</div>
<div class="container">
    <div class="row">
        <span class="col-md-2"></span>
        <span class="col-md-2"> <a class="glyphicon glyphicon-home"></a></span>
        <span class="col-md-2"> <a class="glyphicon glyphicon-music"></a></span>
        <span class="col-md-2"> <a class="glyphicon glyphicon-cloud"></a></span>
        <span class="col-md-2"> <a class="glyphicon glyphicon-envelope"></a></span>
        <span class="col-md-2"> <a class="glyphicon glyphicon-cog"></a></span>
    </div>
</div>
    